@use "./variables" as *;

.about {
  height: 30vh;
  background-color: $green;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .aboutContent {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  p {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.text {
    position: relative;
    i.fa-solid.fa-quote-left {
      font-size: 4rem;
      position: absolute;
      left: -60px;
    }
    i.fa-solid.fa-quote-right {
      position: absolute;
      display: flex;
      align-items: flex-end;

    }
  }

  // i {
  //   position: absolute;
  //   top: 0;
  // //   left: 0;
  // // }

  // .fa-quote-right {
  //   top
  // }
}
