@use "./variables" as *;

.banner {
  height: 30vh;
  background-color: $green;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  button {
    width: 15%;
    min-width: 130px;
    font-size: clamp(1rem, 1vw, 1.6rem);
  }

  .bannerContent {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  p {
    font-size: clamp(1.6rem, 2vw, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
