@use "./variables" as *;

.banner {
  height: 30vh;
  background-color: $green;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .bannerContent {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  p {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  }

 

