@use "./variables" as *;
@use "./mediaQueries" as *;


.contact {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $beige;

  h3 {
    width: 100%;
    text-align: center;
    font-size: clamp(3rem, 3vw, 5rem);
  }

  p {
    font-size: clamp(1.6rem, 2vw, 2rem);;
    margin: 0;
    width: 75%;
    text-align: center;
  }

  .sectionItems {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    width: 50%;

    @include tablet {
      width: 95%;
    }
  }
.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  form {
    width: 90%;
    max-width: 600px;

    button {
      background-color: $green;
      color: $beige;
      width: 40%;
      align-content: center;
      font-size: 2.0rem;
    }
    label {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      color: $green;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      outline: 0;
      border: 1px solid $primaryColor;
      background: transparent;
    }

    .formItem {
      margin-bottom: 30px;
      position: relative;
    }
  }
}
}


