@use "./variables" as *;
html {
  font-size: 62.5%;
  max-width: 100%;
}

body {
  color: $primaryColor;
  font-size: 1.6rem;
  background-color: $backgroundColor;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-family: "Bona Nova", serif;
  color: $primaryColor;
  font-size: 8rem;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 6rem;
  text-transform: capitalize;
  margin: 0;
 
}

footer {
  font-size: 2rem;
}
