@use "./variables" as *;


//

header {
  background: url(../assets/headerTest.jpg) no-repeat;
  background-size: cover;
  height: 70vh;
  background-attachment: fixed;
  h2 {
    font-style: italic;
    font-weight: light;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 250px;
  }
}



.mainMenu {
  list-style-type: none;
}

.closeContainer {
  width: 100%;
  .close {
    color: $beige;
  }
}


.navBar {
z-index: 10;
  .menuIcon {
     position: sticky;
  top: 0;
  }

  .menuIcon, .exit {
    background: none;
    border: none;
    font-size: 4.0rem;
  }

  .exit {
    color: $beige;
  }

  .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  }
  
  .button {
      display: flex;
      align-items: flex-start;
  }
  
}

// to do: make the slide out nav work with JS 
.slideOutNav {
  z-index: 500;
  background-color: $green;
  color: $backgroundColor;
  width: 100%;
  max-width: 500px;
  padding: 35px 50px;
  border-right: 1px solid $green;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -506px;
  transition: 0.75s;



  nav {
     a {
    color: red;
  }
  }
 
  .buttonContainer {
      display: flex;
      justify-content: flex-end;
  }
  .mainMenu a {
    
      font-size: 3.0rem;
      color: $beige;
      &:hover {
          color: $backgroundColor
      }
      &:focus {
         color: $backgroundColor
      }
  }

 .mainMenu {
  color: red;
 }

 li {
  color: red;
 }

  &.open {
      left: 0px;
  }
}
