@use "./variables" as *;


header {
  background: url(../assets/image-1.jpg) no-repeat;
  background-size: cover;
  height: 70vh;
  //background-attachment: fixed;
  list-style-type: none;
  
  .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 180px;
    padding-left: 100px;

    animation: slideInH1 2s;
  }
}
@keyframes slideInH1 {
  0% {
transform: translate(-500px);
opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}



.navBar {
  .menuIcon {
    position: fixed;
    top: 30px;
    right: 5%;
  }

  .menuIcon,
  .exit {
    background: none;
    border: none;
    font-size: 4rem;
  }

  .exit {
    color: $beige;
  }

  .button {
    display: flex;
    align-items: flex-start;
  }
  .slideOutNav {
    z-index: 500;
    background-color: $green;
    color: $backgroundColor;
    width: 100%;
    max-width: 500px;
    padding: 35px 50px;
    border-right: 1px solid $green;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -506px;
    transition: 0.75s;

    .mainMenu {
      list-style-type: none;
    }

    nav {
      li {
        padding: 25px;
       
      }
      a {
        color: $beige; 
        text-decoration: none;
        padding-left: 50px;
      }
    }

    
    .mainMenu a {
      font-size: 3rem;
      //color: $beige;
      &:hover {
        color: $backgroundColor;
      }
      &:focus {
        color: $backgroundColor;
      }
    }

    &.open {
      right: 0px;
    }
  }
}
