@use "./variables" as *;


#app {
  z-index: 100;
}

#app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 90vh;
  color: #3a3535;
}


@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

.title {
  padding-left: 1em;
  grid-column: 1 / -1;
  grid-row: 1;

  font-family: "Prata", serif;
  font-size: 8vw;
  width: 100%;
  z-index: 2;
  
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}

.cafe,
.mozart {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;

}


.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}

.cafe-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.mozart-inner {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

.cafe {
  // start
  > .cafe-inner {
    display: inline-block;
  }
}

.mozart {
  display: inline-block;
}































header {
  background: url(../assets/headerTest.jpg) no-repeat;
  background-size: cover;
  height: 70vh;
  background-attachment: fixed;
  list-style-type: none;
  h2 {
    font-style: italic;
    font-weight: light;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 250px;
  }
}


.navBar {
  .menuIcon {
    position: fixed;
    top: 30px;
    right: 5%;
  }

  .menuIcon,
  .exit {
    background: none;
    border: none;
    font-size: 4rem;
  }

  .exit {
    color: $beige;
  }

  .button {
    display: flex;
    align-items: flex-start;
  }
  .slideOutNav {
    z-index: 500;
    background-color: $green;
    color: $backgroundColor;
    width: 100%;
    max-width: 500px;
    padding: 35px 50px;
    border-right: 1px solid $green;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -506px;
    transition: 0.75s;

    .mainMenu {
      list-style-type: none;
    }

    nav {
      li {
        padding: 25px;
       
      }
      a {
        color: $beige; 
        text-decoration: none;
        padding-left: 50px;
      }
    }

    
    .mainMenu a {
      font-size: 3rem;
      //color: $beige;
      &:hover {
        color: $backgroundColor;
      }
      &:focus {
        color: $backgroundColor;
      }
    }

    &.open {
      right: 0px;
    }
  }
}
