@use "./variables" as *;


.myWork {
  height: 100vh; 
  background-color: $beige;
  .myWorkContent {
   
    align-content: center;
   

    .rotate {
        transform: rotate(-45deg);
    }

    h2 {
        padding: 50px;
    }
  .arrow {
    color: $primaryColor;
  }
  .projectGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .bottomRow,
  .topRow {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 80%;
    img {
      max-width: 90%;
    }
  }

  .bottomRow {
    margin-top: 30px;
  }
  }
   
}





  


.project {
    position: relative;
    width: 30%;
    img {
        width: 100%;
        display: block;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 100%;
        color: $primaryColor;
        //background: rgba(57, 51, 43, 0.8);
        background: rgba(202, 202, 176, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.8s;
        

        &:hover {
            opacity: 1;

            h3, p {
                transform: translateY(0px);
            }
        }

        h3, p {
            transform: translateY(20px);
            transition: transform 0.8s;
 
        }
        h3 {
            margin: 0;
            font-size: 3.0rem;
        }

        p {
            font-size: 2.0rem;
        }
    }

   
}