@use "./variables" as *;
@use "./mixins" as *;

.myWork {
  height: 100vh;
  background-color: $beige;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    height: 60vh;
  }

  @include mobileLarge {
    height: 80vh;
  }
  .myWorkContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;

    h3 {
      padding-bottom: 50px;
    }

    .projectGallery {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      @include mobileLarge {
        flex-direction: row;

        .bottomRow {
          margin: 0px;
          align-items: flex-start;
        }

        .topRow {
          align-items: flex-end;
        }
      }
    }

    .animation {
      animation: slideUp 1.5s;
    }
    .bottomRow,
    .topRow {
      display: flex;
      justify-content: space-evenly;
      gap: 10px;
      width: 80%;
      img {
        max-width: 90%;
      }

      @include mobileLarge {
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 10px;

        .project {
          width: 80%;
        }
      }
    }

    .bottomRow {
      margin-top: 30px;
    }
  }
}

//styling for overlay and overlay animation below
.project {
  position: relative;
  width: 30%;
  img {
    width: 100%;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    color: $backgroundColor;
    background: $green;
    opacity: 0;
    transition: opacity 0.8s;
    font-size: 1.8rem;

    a {
      color: $beige;
      text-decoration: none;
    }

    .overlayContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
      text-align: center;
      height: 100%;
      font-size: clamp(0.7rem, 1vw, 1.8rem);

      p {
        margin: 0;
      }
    }
    .siteLinks {
      display: flex;

      a {
        text-decoration: none;
        color: $backgroundColor;
      }
    }

    &:hover {
      opacity: 1;

      h4,
      p,
      .siteLinks {
        transform: translateY(0px);
      }
    }

    h4,
    p,
    .siteLinks {
      transform: translateY(20px);
      transition: transform 0.8s;
    }
    h4 {
      margin: 0;
      font-size: clamp(0.8rem, 2vw, 3rem);
    }
  }
}

//Keyframe for slide up gallery here
@keyframes slideUp {
  0% {
    transform: translate(0, 300px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
