@use "./variables" as *;
@use "./mixins" as *;

.mySkills {
  height: 80vh;
  font-size: clamp(1.6rem, 2vw, 3rem);

  @include tablet {
    height: 60vh;

    h3 {
        text-align: center;
  }
}

  @include mobile {
    height: 80vh;
    h3 {
        padding-top: 50px;
    }
}

  i {
    font-size: clamp(2rem, 3vw, 5rem);
  }

  .skillsContainer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
.skill {
    padding: 10px;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 17%;

    @include mobileLarge {
        flex-basis: 35%;
    }
   
}

  .skillsList {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 6% auto;
    padding: 0;
  }
}
