html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: #D6CFC8;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: clamp(7rem, 10vw, 15rem);
  font-weight: 400;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0.9;
}

h2 {
  font-size: clamp(2rem, 5vw, 5rem);
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h3 {
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(4rem, 5vw, 6rem);
  margin: 0;
}

h4 {
  margin: 0;
}

footer {
  font-size: 2rem;
}

button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #D6CFC8;
  color: black;
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: clamp(1.4rem, 2vw, 1.9rem);
  text-transform: capitalize;
  position: relative;
  min-width: 75px;
}
button:hover {
  background: #D6CFC8;
  border: 1px solid #F1EEEB;
  color: black;
}
button:focus {
  background-color: #D6CFC8;
  color: black;
  border: 1px solid #F1EEEB;
}

footer {
  background-color: #303B2E;
  color: #F1EEEB;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer p, footer a, footer i {
  font-size: clamp(2.2rem, 2vw, 2rem);
}
footer .footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 500px) {
  footer .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 11vh;
  }
}
footer a {
  color: #F1EEEB;
  text-decoration: none;
}
footer .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}
footer .footerLinks li {
  margin-right: 20px;
  font-size: 3rem;
}
footer .socialMediaIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 3rem;
  color: #F1EEEB;
}
footer .copyright,
footer .fa-copyright {
  text-align: center;
  margin: 0;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

header {
  background: url(../assets/headerPhoto.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  list-style-type: none;
}
header .arrowDown {
  font-size: 10rem;
}
header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-left: 150px;
  -webkit-animation: slideInH1 2s;
          animation: slideInH1 2s;
}
@media (max-width: 800px) {
  header .title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    padding: 0;
    text-align: center;
  }
}

@-webkit-keyframes slideInH1 {
  0% {
    -webkit-transform: translate(-500px);
            transform: translate(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideInH1 {
  0% {
    -webkit-transform: translate(-500px);
            transform: translate(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
.navBar .menuIcon {
  position: fixed;
  top: 30px;
  right: 5%;
  display: none;
}
.navBar .menuIcon,
.navBar .exit {
  background: none;
  border: none;
  font-size: 4rem;
}
.navBar .exit {
  color: #F1EEEB;
}
.navBar .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.navBar .slideOutNav {
  z-index: 500;
  background-color: #303B2E;
  color: #D6CFC8;
  width: 100%;
  max-width: 500px;
  padding: 35px 50px;
  border-right: 1px solid #303B2E;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -506px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.navBar .slideOutNav .mainMenu {
  list-style-type: none;
}
.navBar .slideOutNav nav li {
  padding: 25px 0;
}
.navBar .slideOutNav nav a {
  color: #F1EEEB;
  text-decoration: none;
  padding-left: 50px;
}
@media (max-width: 500px) {
  .navBar .slideOutNav nav a a {
    padding: 0px;
  }
}
.navBar .slideOutNav nav .mainMenu a {
  font-size: 3rem;
}
.navBar .slideOutNav nav .mainMenu a:hover {
  color: #D6CFC8;
}
.navBar .slideOutNav nav .mainMenu a:focus {
  color: #D6CFC8;
}
.navBar .slideOutNav nav.open {
  right: 0px;
}

.banner {
  height: 60vh;
  background-color: #303B2E;
  color: beige;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}
@media (max-width: 800px) {
  .banner {
    height: 100vh;
  }
  .banner p {
    margin: 0px 10px;
  }
}
.banner button {
  width: 15%;
  min-width: 200px;
  font-size: clamp(1.8rem, 1vw, 1.6rem);
  opacity: 60%;
}
.banner .bannerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 800px) {
  .banner .bannerContent {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 15px;
  }
}
.banner p {
  font-size: clamp(1.6rem, 2vw, 3rem);
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 800px) {
  .banner p {
    font-size: clamp(5rem, 2vw, 3rem);
    text-align: left;
  }
}

.myWork {
  background-color: #F1EEEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0px;
}
@media (max-width: 800px) {
  .myWork .myWorkContent {
    margin: 0;
  }
}
.myWork .myWorkContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}
.myWork .myWorkContent h3 {
  padding-bottom: 50px;
}
.myWork .myWorkContent .projectGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media (max-width: 526px) {
  .myWork .myWorkContent .projectGallery .bottomRow {
    margin: 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .myWork .myWorkContent .projectGallery .topRow {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.myWork .myWorkContent .animation {
  -webkit-animation: slideUp 2s;
          animation: slideUp 2s;
}
.myWork .myWorkContent .bottomRow,
.myWork .myWorkContent .topRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
  width: 80%;
}
.myWork .myWorkContent .bottomRow p,
.myWork .myWorkContent .topRow p {
  font-size: clamp(1rem, -1.5rem + 8vw, 1.5rem);
  text-align: right;
}
@media (max-width: 526px) {
  .myWork .myWorkContent .bottomRow,
.myWork .myWorkContent .topRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    gap: 10px;
  }
  .myWork .myWorkContent .bottomRow .project,
.myWork .myWorkContent .topRow .project {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.myWork .myWorkContent .bottomRow {
  margin-top: 30px;
}

.project {
  position: relative;
  width: 30%;
}
.project img {
  width: 100%;
  display: block;
  -webkit-transition: 0.3s ease-in-out 0s;
  transition: 0.3s ease-in-out 0s;
}
.project img:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  color: #D6CFC8;
  background: #303B2E;
  opacity: 0;
  font-size: 1.8rem;
}
.project .overlay.show {
  opacity: 1;
}
.project .overlay a {
  color: #F1EEEB;
  text-decoration: none;
}
.project .overlay .overlayContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  text-align: center;
  height: 100%;
  font-size: clamp(0.7rem, 1vw, 1.8rem);
}
.project .overlay .overlayContent p {
  margin: 0;
}
.project .overlay .siteLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project .overlay .siteLinks a {
  text-decoration: none;
  color: #D6CFC8;
}
.project .overlay h4,
.project .overlay p,
.project .overlay .siteLinks {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
.project .overlay h4 {
  margin: 0;
  font-size: clamp(0.8rem, 2vw, 3rem);
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translate(0, 300px);
            transform: translate(0, 300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translate(0, 300px);
            transform: translate(0, 300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
.mySkills {
  height: 80vh;
  font-size: clamp(1.6rem, 2vw, 3rem);
}
@media (max-width: 800px) {
  .mySkills {
    height: 60vh;
  }
  .mySkills h3 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .mySkills {
    height: 80vh;
  }
  .mySkills h3 {
    padding-top: 50px;
  }
}
.mySkills i {
  font-size: clamp(2rem, 3vw, 5rem);
}
.mySkills .skillsContainer {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.mySkills .skill {
  padding: 10px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-preferred-size: 17%;
      flex-basis: 17%;
}
@media (max-width: 526px) {
  .mySkills .skill {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}
.mySkills .skillsList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 6% auto;
  padding: 0;
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #F1EEEB;
}
.contact h3 {
  width: 100%;
  text-align: center;
  font-size: clamp(3rem, 3vw, 5rem);
}
.contact p {
  font-size: clamp(1.6rem, 2vw, 2rem);
  margin: 0;
  width: 75%;
  text-align: center;
}
.contact .sectionItems {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 50%;
}
@media (max-width: 800px) {
  .contact .sectionItems {
    width: 95%;
  }
}
.contact .formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.contact .formContainer form {
  width: 90%;
  max-width: 600px;
}
.contact .formContainer form button {
  background-color: #303B2E;
  color: #F1EEEB;
  width: 40%;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 2rem;
}
.contact .formContainer form label {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: #303B2E;
}
.contact .formContainer form input,
.contact .formContainer form textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid black;
  background: transparent;
}
.contact .formContainer form .formItem {
  margin-bottom: 30px;
  position: relative;
}

.thanksPage {
  width: 100%;
  color: #303B2E;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.thanksPage h1 {
  color: #303B2E;
  font-size: clamp(2.5rem, 5vw, 6rem);
  text-transform: none;
}
.thanksPage i {
  font-size: clamp(2rem, 6vw, 7rem);
  padding: 20px;
}
.thanksPage p {
  font-size: clamp(1.6rem, 3vw, 2.5rem);
  font-style: italic;
  text-align: center;
  padding-top: 10px;
}

.about {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(1.9em, 2vw, 1.9rem);
}
@media (max-width: 800px) {
  .about {
    min-height: 90vh;
  }
}
.about .aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 20px;
}
@media (max-width: 800px) {
  .about .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 25px;
  }
  .about .aboutContent .content {
    width: 90%;
  }
}
.about .content {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 800px) {
  .about .content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.about button {
  width: 30%;
  background-color: #303B2E;
  color: #F1EEEB;
  min-width: 115px;
}
@media (max-width: 800px) {
  .about button {
    min-width: 200px;
    font-size: clamp(1.8rem, 1vw, 1.6rem);
  }
}

.projdeets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  gap: 50px;
}
@media (max-width: 800px) {
  .projdeets {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.projdeets h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: clamp(7rem, 10vw, 12rem);
  text-align: left;
}
@media (max-width: 800px) {
  .projdeets h2 {
    max-width: 90%;
  }
}
@media (max-width: 526px) {
  .projdeets h2 {
    padding-top: 50px;
  }
}
.projdeets .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media (max-width: 800px) {
  .projdeets .description {
    width: 90%;
  }
}
@media (max-width: 526px) {
  .projdeets .description h3 {
    padding-top: 30px;
  }
}
.projdeets p, .projdeets li, .projdeets a, .projdeets i {
  font-size: clamp(1rem, -1.5rem + 8vw, 2.5rem);
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media (max-width: 800px) {
  .links {
    padding-top: 20px;
  }
}
.links a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  gap: 15px;
  color: black;
  -webkit-transition: 0.3s ease-in-out 0s;
  transition: 0.3s ease-in-out 0s;
}
.links a:hover p {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-bottom: 1px solid black;
}
.links a p {
  font-size: clamp(1rem, -1.5rem + 8vw, 2.5rem);
}

i {
  font-size: clamp(1rem, -1.5rem + 8vw, 2.5rem);
  color: black;
}

@media (max-width: 800px) {
  .fa-chevron-left {
    padding-left: 20px;
  }
}

.pageContent {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper2 {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}